node_modules/
target/
_out/
gen/
.gen/
app/*/dist/

.cdsrc-private.json
default-*.json
*.sqlite

# MTA
mta_archives/
*_mta_build_tmp
*.mtar
*.zip
*.b64
test-request.json
*-request.json
*-response.json

# Other
.DS_Store

# @cap-js/cds-typer
@cds-models
